{require_min_otp_vsn, "R15"}.
{port_env, [
    %% Default darwin ldflags causes loading of system sqlite. Removed -bundle flag.
    {"darwin", "DRV_LDFLAGS",
        "-flat_namespace -undefined suppress $ERL_LDFLAGS"},

    {"solaris", "CFLAGS",
        "-std=c99"},

    {"linux", "CFLAGS",
        "-std=c11"},

    {"CFLAGS", "$CFLAGS -DSQLITE_THREADSAFE=1 -DSQLITE_USE_URI -DSQLITE_ENABLE_EXPLAIN_COMMENTS -DSQLITE_ENABLE_FTS3 -DSQLITE_ENABLE_FTS3_PARENTHESIS -DSQLITE_ENABLE_JSON1 -DSQLITE_ENABLE_FTS3 -DSQLITE_ENABLE_FTS5 -DSQLITE_ENABLE_RTREE -DSQLITE_ENABLE_DBSTAT_VTAB -DSQLITE_ENABLE_RBU"}
]}.
{port_specs, [
  {"priv/esqlite3_nif.so", ["c_src/sqlite3/sqlite3.c", "c_src/queue.c", "c_src/esqlite3_nif.c"]}
]}.

{plugins, [pc]}.

{provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}.
